# Enable rewriting
RewriteEngine On

# Installation directory
RewriteBase /kohana/branches/website/

# Protect application and system files from being viewed
RewriteRule ^(application|modules|system) - [F,L]

# Protect .svn directories from being viewed
RewriteRule \.svn - [F,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]