/* Style Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal; }
q:before,q:after{ content: ''; }
abbr,acronym { border: 0; }


/* Clear Fix */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
* html .clearfix { height: 1px; }


/* Defaults */
body { font-family: Helvetica, Arial, sans-serif; font-size: 0.75em; line-height: 1.5; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.1em; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a { color: #000066; text-decoration: none; }
a:hover { color: #000099; }
strong {font-weight: bold;}
em {font-style: italic;}
p { margin: 0 0 1.5em; }
abbr, acronym { border-bottom: 1px dotted #CCCCCC; cursor: help; }
tt, code { font-family: 'Monaco', Courier, monospace; }
code.php { display: block; margin: 1em 0; background-color: #FCFCFC; white-space: pre; }
ol { list-style-type: decimal; margin-left: 2em; }


/* Layout */
#header { text-align: center; padding: 1em; }
#breadcrumbs { padding: 0.5em; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; }
#container { width: 980px; margin: 0 auto; }
#menu, #sidebar { float: left; width: 170px; padding: 10px; overflow: hidden; }
#menu h2, #menu h3, #sidebar h2, #sidebar h3 { font-size: 1.3em; }
#body { float: left; width: 578px; padding: 10px; border-left: 1px solid #EEEEEE; border-right: 1px solid #EEEEEE; }
#body h1, #body h2, #body h3, #body h4, #body h5, #body h6 { margin: 0.6em 0; }
#sidebar h3, #sidebar ul.level2 { margin-left: 10px; }
#footer { text-align: center; padding: 1em; }


/* User Guide */
#user-guide .navigation { text-align: center; }


/* API */
#api .method { margin-bottom: 10px; }
#api .method h2 { font-weight: normal; font-size: 1em; background-color: #BBEEBB; padding: 5px; margin: 0 !important; }
#api .method div.details h3 { padding: 0; margin: 0 !important; font-size: 1em; }
#api .method dl dt { font-weight: bold; }
#api .details table td { padding: 2px 5px; }
